*.class
*log*
*.csv
*.sql

# Package Files #
*.gz
*.war
*.ear
*.jar
*.tar
.cache
.classpath
.project
.settings
target

# ignored example files
ex_*
example.properties
*.backup
epa_*
hudson_example_query.txt
*.docx
glos_station/*
glos_metadata_test.xml
