*.class

# Package Files #
*.war
*.ear
*.jar
*.tar
*.log
.cache
.classpath
.project
.settings
target

# ignored example files
ex_*
example.properties
*.backup
epa_*

*.txt
*.log*
*.csv
glos_metadata_test.xml
glos_station/*
*.gz
*doc*